*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url(../imgs/12978520_5110786.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
form{
    width: 50%;
}
.loger{
    border-radius: 30% 30% 30% 30%;
    left: 47%;
    transition: 0.3s;
}

.error {
    color: red;
    font: 900;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.success {
    color: rgb(35, 205, 40);
    font: 900;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
 

.loger .cont{
    left: 15%;
}


.signin1,.signin{
    width: 50%;

}

@media (min-width:1080px) {
    .flexer{
        left: 28%;
        top: 15%; 
        margin: 30px 0  1;
        width: 800px;
        background-color: rgba(34, 34, 120, 0.412);
       
     }
}
@media (max-width:1080px) {
    #loger{
        display: none;
    }
    form{
        width: 100%;
    }
    body{
        background-image: none;
        background-color: rgb(63, 72, 185);
        overflow:visible;
    }
    .flexer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        
        width: 350px;
        height:fit-content ;
    }
    
    .signin1,.signin{
        width: 90%;

    }
    .icons{
        margin: 15px;
    }
    .marger {
        margin: 15px;
    }
    #pader{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        position: absolute;
        
        
        
        top: 600px;
    }
}
@media (max-width:477px) {
    .pader{
        display: none;
    }
}